<launch>
    <!-- 第一个模型 -->
    <node pkg="ros_openvino" name="message_schedule_node" type="aibox_message_scheduling.py" output="screen">
        <param name="model_id"    value="1"/>
        <param name="model_config_path"    value="$(find ros_openvino)/config/model_yolo_config.txt" />
    </node>
    <node pkg="ros_openvino" name="yolov3" type="object_detection_yolov3.py"/>

    <!-- 可视化 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_openvino)/rviz/semantic_tagging.rviz" />
</launch>

