<launch>
    <!-- 语音提示 -->
    <include file="$(find ros_openvino)/launch/aibox_speech_alert.launch" />

    <!-- 可视化 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find xrobot)/rviz/xrobot.rviz" />

    <!-- 三维建图 -->
    <!-- <include file="$(find fast_mapping)/launch/fast_mapping.launch" /> -->
</launch>